<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}"
	  layout:fragment="Content"
>

    <head>
        <title th:text="사용자관리"></title>

        <!-- 업무용 자바스크립트 (HEAD) 안에 위치 -->
	    <script th:src="@{/js/system/user.js}"></script>

    </head>
<body>
	<div class="page-container">
		<div class="title-area">
			<h2>사용자관리</h2>
			<ul class="location-area">
				<li class="home" onclick="goMain();"></li>
				<li>시스템관리</li>
				<li class="now">사용자관리</li>
			</ul>
		</div>
		<div class="search-area">
		<form id="searchForm" method="post">
			<div class="search-inner">
				<div class="ui form">
					<div class="fields">
						<div class="four wide field">
							<label>회사코드</label>
							<div class="ui selection dropdown">
								<input type="hidden" id="companyCd" name="companyCd">
								<div class="default text">회사코드를 선택하세요.</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value="Y">Y</div>
									<div class="item" data-value="N">N</div>
								</div>
							</div>
						</div>
						<div class="four wide field">
							<label>사용자아이디</label>
							<input type="text" id="userCd" name="userNm" placeholder="사용자코드를 입력하세요." >
						</div>
						<div class="four wide field">
							<label>사용자명</label>
							<input type="text" id="userNm" name="userNm" placeholder="사용자명을 입력하세요." >
						</div>
						<!-- [dev] 검색영역 내 조회 버튼은 "two wide field btn-search" 클래스 사용 -->
						<div class="two wide field btn-search">
							<div class="ui button">
								<i class="search icon"></i>
								조회
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		</div>
		<div class="btn-area tbl-top">
			<div class="btn-wrap"></div>

			<div class="btn-wrap">
				<div class="ui button btn-darkgray btn-add">추가</div>
				<div class="ui button btn-darkgray btn-dtl">상세</div>
			</div>
		</div>

		<div class="table-area">
			<div class="ui form">
				<table id="listDataTableUser" class="display stripe hover">
					<colgroup>
						<col style="width:4%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:8%">
						<col style="width:4%">
						<col style="width:4%">
						<col style="width:4%">
						<col style="width:4%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:8%">
						<col style="width:5%">
						<col style="width:8%">
					</colgroup>
					<thead>
					<tr>
						<th>선택</th>
						<th>회사코드</th>
						<th>직원구분코드</th>
						<th>사용자아이디</th>
						<th>사번</th>
						<th>사용자명</th>
						<th>사용자영문명</th>
						<th>부서</th>
						<th>직무</th>
						<th>직위</th>
						<th>직급</th>
						<th>입사일자</th>
						<th>퇴사일자</th>
						<th>이메일주소</th>
						<th>사용여부</th>
						<th>등록자</th>
						<th>등록일시</th>
						<th>수정자</th>
						<th>수정일시</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- 상세모달창 -->
	<div class="ui modal modal-user" style="width:1300px; !important;">
		<i class="close icon"></i>
		<div class="header">사용자관리</div>
		<div class="content">
			<div class="search-area">
				<div class="search-inner">
					<div class="ui form">
						<form id="registForm" method="post">
						<div class="fields">
							<div class="four wide field">
								<label>회사코드</label>
								<div class="ui selection dropdown">
									<input type="hidden" id="companyCd" name="companyCd">
									<div class="default text">회사코드</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="TEST01">TEST01</div>
										<div class="item" data-value="TEST02">TEST02</div>
									</div>
								</div>
							</div>
							<div class="four wide field">
								<label>사용자아이디</label>
								<input type="hidden" id="userSeq" name="userSeq">
								<input type="text" name="userId" placeholder="사용자아이디" >
							</div>
							<div class="four wide field">
								<label>직원구분코드</label>
								<div class="ui selection dropdown">
									<input type="hidden" id="empTypeCd" name="empTypeCd">
									<div class="default text">직원구분코드</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="TEST01">TEST1</div>
										<div class="item" data-value="TEST02">TEST2</div>
									</div>
								</div>
							</div>
							<div class="four wide field">
								<label>사번</label>
								<input type="text" name="empNo" placeholder="사번" >
							</div>
							<div class="four wide field">
								<label>사용자명</label>
								<input type="text" name="userNm" placeholder="사용자명" >
							</div>
							<div class="four wide field">
								<label>사용자명(영문)</label>
								<input type="text" name="userNmEn" placeholder="사용자명(영문)" >
							</div>
						</div>
						<div class="fields">
							<div class="four wide field">
								<label>부서코드</label>
								<input type="text" name="deptCd" placeholder="부서코드" >
							</div>
							<div class="four wide field">
								<label>부서명</label>
								<input type="text" name="deptNm" placeholder="부서명" >
							</div>
							<div class="four wide field">
								<label>직무코드</label>
								<input type="text" name="dutyCd" placeholder="직무코드" >
							</div>
							<div class="four wide field">
								<label>직무명</label>
								<input type="text" name="dutyNm" placeholder="직무명" >
							</div>
							<div class="four wide field">
								<label>직위코드</label>
								<input type="text" name="positionCd" placeholder="직위코드" >
							</div>
							<div class="four wide field">
								<label>직위명</label>
								<input type="text" name="positionNm" placeholder="직위명" >
							</div>
						</div>
						<div class="fields">
							<div class="four wide field">
								<label>직급코드</label>
								<input type="text" name="titleCd" placeholder="직급코드" >
							</div>
							<div class="four wide field">
								<label>직급명</label>
								<input type="text" name="titleNm" placeholder="직급명" >
							</div>
							<div class="four wide field">
								<label>퇴사여부</label>
								<div class="ui selection dropdown d-retireYn">
									<input type="hidden" id="retireYn" name="retireYn">
									<div class="default text">선택</div>
									<i class="dropdown icon"></i>
								</div>
							</div>
							<div class="four wide field">
								<label>입사일자</label>
								<div class="calendar-area">
									<div class="field">
										<div class="ui calendar">
											<div class="ui input right icon">
												<i class="calendar icon"></i>
												<input type="text" name="joinDt" placeholder="입사일자" >
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="four wide field">
								<label>퇴사일자</label>
								<div class="calendar-area">
									<div class="field">
										<div class="ui calendar">
											<div class="ui input right icon">
												<i class="calendar icon"></i>
												<input type="text" name="retireDt" placeholder="퇴사일자" >
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="four wide field">
								<label>사용여부</label>
								<div class="ui selection dropdown d-useYn">
									<input type="hidden" id="useYn" name="useYn">
									<div class="default text">선택</div>
									<i class="dropdown icon"></i>
								</div>
							</div>
						</div>
						<div class="fields">
							<div class="four wide field">
								<label>전화번호</label>
								<input type="text" name="telNo" placeholder="전화번호" >
							</div>
							<div class="four wide field">
								<label>휴대전화번호</label>
								<input type="text" name="cellNo" placeholder="휴대전화번호" >
							</div>
							<div class="seven wide field">
								<label>이메일주소</label>
								<input type="text" name="emailAddr" placeholder="이메일주소" >
							</div>
							<div class="four wide field">
								<label>비밀번호</label>
								<input type="password" name="pw" placeholder="비밀번호" >
							</div>
						</div>
						<div class="fields">
							<div class="four wide field">
								<label>비밀번호변경일</label>
								<input type="text" name="pwChgDt" placeholder="비밀번호변경일" readonly >
							</div>
							<div class="four wide field">
								<label>사용자계정잠금여부</label>
								<div class="ui selection dropdown">
									<input type="hidden" id="accountLockYn" name="accountLockYn">
									<div class="default text">선택</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="Y">Y</div>
										<div class="item" data-value="N">N</div>
									</div>
								</div>
							</div>
							<div class="seven wide field">
								<label>등록자/등록일시</label>
								<input type="text" name="regUserNm" style="width:100px" value="" readonly> <input type="text" name="regDt" style="width:200px"  value="" readonly>
							</div>
							<div class="seven wide field">
								<label>수정자/수정일시</label>
								<input type="text" name="modUserNm" style="width:100px"  value="" readonly> <input type="text" name="modDt" style="width:200px"  value="" readonly>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<button class="ui button btn-darkgray btn-save">저장</button>
			<button class="ui button btn-darkgray btn-delt">삭제</button>
		</div>
	</div>
</body>
</html>
