<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}"
	  layout:fragment="Content"
>

    <head>
        <title th:text="권한메뉴관리"></title>

        <!-- 업무용 자바스크립트 (HEAD) 안에 위치 -->
	    <script th:src="@{/js/system/authmenu.js}"></script>

    </head>
<body>
	<div class="page-container">
		<div class="title-area">
			<h2>권한메뉴관리</h2>
			<ul class="location-area">
				<li class="home" onclick="goMain();"></li>
				<li>시스템관리</li>
				<li class="now">권한메뉴관리</li>
			</ul>
		</div>
		<div class="btn-area tbl-top">
			<div>
				<label>회사명</label>
				<div class="ui selection ml_10 dropdown d-companyCd" style="width:200px;">
					<input type="hidden" id="companyCd" name="companyCd">
					<div class="default text">회사명</div>
					<i class="dropdown icon"></i>
				</div>
			</div>

			<div class="btn-wrap">
				<div class="ui button btn-darkgray btn-save">저장</div>
			</div>
		</div>

		<div class="table-area ml_10" style="width:27%;float:left;">
			<div class="ui form">
				<table id="listDataTableAuth" class="display stripe hover">
					<colgroup>
						<col style="width:20%">
						<col style="width:30%">
						<col style="width:auto">
					</colgroup>
					<thead>
					<tr>
						<th>선택</th>
						<th>권한코드</th>
						<th>권한명</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="table-area ml_20" style="width:71%;float:left;">
			<div class="ui form">
				<table id="listDataTableMenu" class="display stripe hover">
					<colgroup>
						<col style="width:7%">
						<col style="width:15%">
						<col style="width:10%">
						<col style="width:20%">
						<col style="width:10%">
						<col style="width:auto">
						<col style="width:9%">
					</colgroup>
					<thead>
					<tr>
						<th>선택</th>
						<th>회사명</th>
						<th>메뉴아이디</th>
						<th>메뉴명</th>
						<th>메뉴레벨</th>
						<th>메뉴URL</th>
						<th>메뉴여부</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
