<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}"
	  layout:fragment="Content"
>

    <head>
        <title th:text="권한그룹관리"></title>

        <!-- 업무용 자바스크립트 (HEAD) 안에 위치 -->
	    <script th:src="@{/js/system/auth.js}"></script>

    </head>
<body>
	<div class="page-container">
		<div class="title-area">
			<h2>권한그룹관리</h2>
			<ul class="location-area">
				<li class="home" onclick="goMain();"></li>
				<li>시스템관리</li>
				<li class="now">권한그룹관리</li>
			</ul>
		</div>
		<div class="search-area">
		<form id="searchForm">
			<div class="search-inner">
				<div class="ui form">
					<div class="fields">
						<div class="four wide field">
							<label>권한코드</label>
							<input type="text" id="authCd" name="authCd" placeholder="권한코드를 입력하세요." >
						</div>
						<div class="four wide field">
							<label>권한명</label>
							<input type="text" id="authNm" name="authNm" placeholder="권한명을 입력하세요." >
						</div>
						<!-- [dev] 검색영역 내 조회 버튼은 "two wide field btn-search" 클래스 사용 -->
						<div class="two wide field btn-search">
							<div class="ui button">
								<i class="search icon"></i>
								조회
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		</div>
		<div class="btn-area tbl-top">
			<div class="btn-wrap"></div>

			<div class="btn-wrap">
				<div class="ui button btn-darkgray btn-add">등록</div>
				<div class="ui button btn-darkgray btn-dtl">상세</div>
			</div>
		</div>

		<div class="table-area">
			<div class="ui form">
				<table id="listDataTableAuth" class="display stripe hover">
					<colgroup>
						<col style="width:5%">
						<col style="width:8%">
						<col style="width:15%">
						<col style="width:auto">
						<col style="width:8%">
						<col style="width:13%">
						<col style="width:8%">
						<col style="width:13%">
					</colgroup>
					<thead>
					<tr>
						<th>선택</th>
						<th>권한코드</th>
						<th>권한명</th>
						<th>권한설명</th>
						<th>등록자</th>
						<th>등록일시</th>
						<th>수정자</th>
						<th>수정일시</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- 상세모달창 -->
	<div class="ui modal modal-auth" style="display:none">
		<i class="close icon"></i>
		<div class="header">권한관리</div>
		<div class="content">
			<div class="content detail-table-area active">
				<div class="ui form">
					<form id="registForm" method="post">
						<table class="ui celled table">
							<colgroup>
								<col style="width:10%;">
								<col style="width:23%;">
								<col style="width:10%;">
								<col style="width:23%;">
								<col style="width:10%;">
								<col style="width:auto;">
							</colgroup>
							<tbody>
							<tr>
								<th scope="row">
									<label class="required">권한코드</label>
								</th>
								<td>
									<div class="fields">
										<div class="sixteen wide field">
											<input type="hidden" name="authSeq" id="authSeq" value="0">
											<input type="text" name="authCd" id="authCd" placeholder="권한코드" >
										</div>
									</div>
								</td>
								<th scope="row">
									<label class="required">권한명</label>
								</th>
								<td>
									<div class="fields">
										<div class="sixteen wide field">
											<input type="text" name="authNm" id="authNm" placeholder="권한명" >
										</div>
									</div>
								</td>
								<th scope="row">
									<label>사용여부</label>
								</th>
								<td>
									<div class="fields">
										<div class="sixteen wide field">
											<div class="ui selection dropdown d-useYn">
												<input type="hidden" name="useYn" id="useYn">
												<div class="default text">선택</div>
												<i class="dropdown icon"></i>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>권한설명</label>
								</th>
								<td colspan="5">
									<div class="fields">
										<div class="sixteen wide field">
											<input type="text" name="authDesc" id="authDesc" placeholder="권한설명" >
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>등록자</label>
								</th>
								<td>
									<div class="fields">
										<div class="sixteen wide field">
											<input type="text" id="regUserNm" name="regUserNm" readonly>
										</div>
									</div>
								</td>
								<th scope="row">
									<label>등록일시</label>
								</th>
								<td colspan="2">
									<div class="fields">
										<div class="sixteen wide field">
											<input type="text" id="regDt" name="regDt" readonly>
										</div>
									</div>
								</td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">
									<label>수정자</label>
								</th>
								<td>
									<div class="fields">
										<div class="sixteen wide field">
											<input type="text" id="modUserNm" name="modUserNm" readonly>
										</div>
									</div>
								</td>
								<th scope="row">
									<label>수정일시</label>
								</th>
								<td colspan="2">
									<div class="fields">
										<div class="sixteen wide field">
											<input type="text" id="modDt" name="modDt" readonly>
										</div>
									</div>
								</td>
								<td></td>
							</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
		<div class="actions">
			<button class="ui button btn-darkgray btn-save">저장</button>
			<button class="ui button btn-darkgray btn-delt">삭제</button>
		</div>
	</div>
</body>
</html>
