<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ModalFragment">

<!-- 이력/민감 VOC 모달팝업 -->
<div class="ui modal" id="modalCommonVoc" style="width:1500px;height:640px;">
    <i class="close icon"></i>
    <div class="header">
        이력/민감 VOC
    </div>
    <div class="content">
        <form id="modalCommonVocForm" method="post">
            <div class="search-area">
                <div class="search-inner">
                    <div class="ui form">
                        <div class="fields">
                            <div class="three wide field">
                                <label>회사</label>
                                <input type="hidden" name="companyCd" id="companyCd">
                                <input type="text" name="companyNm" id="companyNm" readonly>
                            </div>
                            <div class="three wide field">
                                <label>고객명</label>
                                <input type="hidden" name="custSeq" id="custSeq">
                                <input type="text" name="custNm" id="custNm" readonly>
                            </div>
                            <div class="three wide field">
                                <div class="ui checkbox chk-sensSpecYn">
                                    <input type="checkbox" name="sensSpecYn" id="sensSpecYn" value="" tabindex="0" class="hidden">
                                    <label>민감/특이여부</label>
                                </div>
                            </div>
                            <div class="two wide field btn-search">
                                <div class="ui button">
                                    <i class="search icon"></i>
                                    조회
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-area">
                <div class="ui form">
                    <table id="listDataTableModalCommonVoc" class="display stripe hover" style="width:100% !important;">
                        <colgroup>
                            <col style="width:3%">
                            <col style="width:5%">
                            <col style="width:6%">
                            <col style="width:13%">
                            <col style="width:6%">
                            <col style="width:5%">
                            <col style="width:auto">
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:5%">
                            <col style="width:10%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>선택</th>
                            <th>민감/특이</th>
                            <th>VOC구분</th>
                            <th>VOC유형</th>
                            <th>접수채널</th>
                            <th>고객명</th>
                            <th>VOC제목</th>
                            <th>상태</th>
                            <th>등록자</th>
                            <th>등록일</th>
                            <th>처리유형</th>
                            <th>처리자</th>
                            <th>처리일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 지정코드마스터 모달팝업 -->
<div class="ui modal" id="modalCommonCustommst" style="height:600px;">
    <i class="close icon"></i>
    <div class="header vocTypeDiv">VOC유형 선택</div>
    <div class="header vocActTypeDiv blind">처리유형 선택</div>
    <div class="content">
        <form id="modalCommonCustommstForm" method="post">
            <div class="search-area">
                <div class="search-inner">
                    <div class="ui form">
                        <div class="fields">
                            <div class="five wide field">
                                <label>업종</label>
                                <div class="ui selection dropdown d-industryCd">
                                    <input type="hidden" id="industryCd" name="industryCd">
                                    <div class="default text">선택</div>
                                    <i class="dropdown icon"></i>
                                </div>
                            </div>
                            <div class="six wide field">
                                <label class="vocTypeDiv">VOC유형그룹명</label>
                                <label class="vocActTypeDiv blind">처리유형명</label>
                                <input type="hidden" id="customType" name="customType" value="VOC_TYPE" >
                                <input type="text" id="voctypeNm" name="voctypeNm" placeholder="" >
                            </div>
                            <div class="two wide field btn-search">
                                <div class="ui button btn-search-custommst">
                                    <i class="search icon"></i>
                                    조회
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-area">
                <div class="ui form">
                    <table id="listDataTableModalCommonCustom" class="display stripe hover" style="width:100% !important;">
                        <colgroup>
                            <col style="width:6%">
                            <col style="width:20%">
                            <col style="width:30%">
                            <col style="width:auto">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>선택</th>
                            <th>업종</th>
                            <th class="customMstCd">VOC유형그룹코드</th>
                            <th class="customMstNm">VOC유형그룹명</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui button btn-darkgray btn-select-custommst">선택</button>
    </div>
</div>

<!-- 사원찾기 모달팝업 -->
<div class="ui modal" id="modalCommonEmpl" style="height:640px;">
    <i class="close icon"></i>
    <div class="header">
        사원찾기
    </div>
    <div class="content">
        <form id="modalCommonEmplForm" method="post">
            <div class="search-area">
                <div class="search-inner">
                    <div class="ui form">
                        <div class="fields">
                            <div class="five wide field">
                                <label>회사</label>
                                <div class="ui selection dropdown d-companyCd disabled">
                                    <input type="hidden" name="companyCd" id="companyCd">
                                    <div class="default text">선택</div>
                                    <i class="dropdown icon"></i>
                                </div>
                            </div>
                            <div class="three wide field">
                                <label>사원명</label>
                                <input type="text" name="userNm" id="userNm">
                            </div>
                            <div class="three wide field">
                                <label>재직여부</label>
                                <div class="ui selection dropdown d-employmentYn">
                                    <input type="hidden" name="employmentYn" id="employmentYn">
                                    <div class="default text">선택</div>
                                    <i class="dropdown icon"></i>
                                </div>
                            </div>
                            <div class="three wide field btn-search btn-search-user">
                                <div class="ui button">
                                    <i class="search icon"></i>
                                    조회
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-area">
                <div class="ui form">
                    <table id="listDataTableModalCommonEmpl" class="display stripe hover" style="width:100% !important;">
                        <colgroup>
                            <col style="width:6%">
                            <col style="width:auto">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>선택</th>
                            <th>회사</th>
                            <th>사용자ID</th>
                            <th>이름</th>
                            <th>직급</th>
                            <th>부서</th>
                            <th>재직여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui button btn-darkgray btn-select-empl">선택</button>
    </div>
</div>


</html>