<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

    <head>
        <title>404 error page</title>
        
        <style>
        #page-center { display:flex; height: 100%;}
        #page-center .errorMessageZone {margin: auto; width: 400px !important; text-align: center;}
        .errorMessageZone .errorMessage {font-size: 30px; padding: 30px 0px;}
        #page-center .errorMessageZone > div.errorLine {width: 100%; height: 3px; background-color: #95B8E7;}
        </style>
        
    </head>

<body>

    <th:block layout:fragment="content">
    
    <div class="errorMessageZone">
        <div class="errorLine"></div>
        <div class="errorMessage">페이지를 찾을 수 없습니다.</div>
        <div class="errorLine"></div>
    </div>
            
    </th:block>

</body>
</html>