<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}"
	  layout:fragment="Content"
>

    <head>
        <title th:text="공지사항"></title>

        <!-- 업무용 자바스크립트 (HEAD) 안에 위치 -->
	    <script th:src="@{/js/bbs/bbs_list.js}"></script>

    </head>
<body>
	<div class="page-container">
		<div class="title-area">
			<h2>공지사항</h2>
			<ul class="location-area">
				<li class="home" onclick="goMain();"></li>
				<li>게시판관리</li>
				<li class="now">공지사항</li>
			</ul>
		</div>
		<div class="search-area">
		<form id="searchForm">
			<div class="search-inner">
				<div class="ui form">
					<div class="fields">
						<div class="three wide field">
							<label>회사</label>
							<div class="ui selection dropdown d-companyCd">
								<input type="hidden" name="companyCd" id="companyCd">
								<div class="default text">선택</div>
								<i class="dropdown icon"></i>
							</div>
						</div>
						<div class="four wide field">
							<label>제목</label>
							<input type="text" name="title" id="title" placeholder="제목" >
						</div>
						<div class="four wide field">
							<!-- [dev] 캘린더 영역 wrapper는 "calendar-area" 클래스 사용 -->
							<div class="calendar-area">
								<div class="field">
									<label>등록일</label>
									<div class="ui calendar">
										<div class="ui input right icon">
											<i class="calendar icon"></i>
											<input type="text" name="regDtStart" id="regDtStart" placeholder="YYYY-MM-DD" >
										</div>
									</div>
								</div>
								<div class="field">
									<!-- [dev] 종료일 텍스트 없이 빈 label를 위치 -->
									<label></label>
									<div class="ui calendar">
										<div class="ui input right icon">
											<i class="calendar icon"></i>
											<input type="text" name="regDtEnd" id="regDtEnd" placeholder="YYYY-MM-DD" >
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- [dev] 검색영역 내 조회 버튼은 "two wide field btn-search" 클래스 사용 -->
						<div class="two wide field btn-search">
							<div class="ui button">
								<i class="search icon"></i>
								조회
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		</div>
		<div class="btn-area tbl-top">
			<div class="btn-wrap"></div>

			<div class="btn-wrap">
				<div class="ui button btn-darkgray btn-add">공지사항등록</div>
				<div class="ui button btn-darkgray btn-dtl">상세</div>
			</div>
		</div>

		<div class="table-area">
			<div class="ui form">
				<table id="listDataTableBbs" class="display stripe hover">
					<colgroup>
						<col style="width:5%">
						<col style="width:10%">
						<col style="width:auto">
						<col style="width:10%">
						<col style="width:15%">
						<col style="width:10%">
						<col style="width:10%">
					</colgroup>
					<thead>
					<tr>
						<th>선택</th>
						<th>No</th>
						<th>제목</th>
						<th>등록자</th>
						<th>등록일시</th>
						<th>조회수</th>
						<th>댓글</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
