<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.voc.vocapi.voc.mapper.AttachFileMapper">

    <!-- 공통첨부파일 목록 조회 -->
    <select id="getAttachFileList" resultType="voc.attachfile">
        SELECT file_seq             AS "fileSeq",
               file_ref_key         AS "fileRefKey",
               file_ref_div         AS "fileRefDiv",
               file_nm              AS "fileNm",
               file_path            AS "filePath",
               file_extn            AS "fileExtn",
               file_size            AS "fileSize",
               reg_user_no          AS "regUserNo",
               reg_dt               AS "regDt"
          FROM tb_attach_file
         <where>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.fileSeq)">AND file_seq = #{p.fileSeq} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.fileRefKey)">AND file_ref_key = #{p.fileRefKey} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.fileRefDiv)">AND file_ref_div = #{p.fileRefDiv} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.fileNm)">AND file_nm = #{p.fileNm} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.filePath)">AND file_path = #{p.filePath} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.fileExtn)">AND file_extn = #{p.fileExtn} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.fileSize)">AND file_size = #{p.fileSize} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.regUserNo)">AND reg_user_no = #{p.regUserNo} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.regDt)">AND reg_dt = #{p.regDt} </if>
         </where>
         ORDER BY lsupd_dt DESC
         <if test="offset &gt; -1">
         LIMIT #{offset}, #{length}
         </if>
    </select>
    <select id="getAttachFileListCount" resultType="long">
        SELECT COUNT(1)
          FROM tb_attach_file
        <where>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(fileSeq)">AND file_seq = #{fileSeq} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(fileRefKey)">AND file_ref_key = #{fileRefKey} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(fileRefDiv)">AND file_ref_div = #{fileRefDiv} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(fileNm)">AND file_nm = #{fileNm} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(filePath)">AND file_path = #{filePath} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(fileExtn)">AND file_extn = #{fileExtn} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(fileSize)">AND file_size = #{fileSize} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(regUserNo)">AND reg_user_no = #{regUserNo} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(regDt)">AND reg_dt = #{regDt} </if>
        </where>
    </select>

	<!-- 공통첨부파일 상세 조회 -->
    <select id="getAttachFile" resultType="voc.attachfile">
        SELECT file_seq             AS "fileSeq",
               file_ref_key         AS "fileRefKey",
               file_ref_div         AS "fileRefDiv",
               file_nm              AS "fileNm",
               file_path            AS "filePath",
               file_extn            AS "fileExtn",
               file_size            AS "fileSize",
               reg_user_no          AS "regUserNo",
               reg_dt               AS "regDt"
          FROM tb_attach_file A
         <where>
           file_seq = #{fileSeq}
         </where>
    </select>

	<!-- 공통첨부파일 등록 -->
    <insert id="insertAttachFile">
        INSERT INTO tb_attach_file
		(
			file_seq,
   file_ref_key,
   file_ref_div,
   file_nm,
   file_path,
   file_extn,
   file_size,
   reg_user_no,
   reg_dt
		)
		VALUES
		(
			src.file_seq,
   src.file_ref_key,
   src.file_ref_div,
   src.file_nm,
   src.file_path,
   src.file_extn,
   src.file_size,
   src.reg_user_no,
   src.reg_dt
		)
		<selectKey resultType="int" keyProperty="returnKey" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

	<!-- 공통첨부파일 수정 -->
    <update id="updateAttachFile">
		UPDATE tb_attach_file SET
			file_ref_key         = src.file_ref_key,
   file_ref_div         = src.file_ref_div,
   file_nm              = src.file_nm,
   file_path            = src.file_path,
   file_extn            = src.file_extn,
   file_size            = src.file_size,
   reg_user_no          = src.reg_user_no,
   reg_dt               = src.reg_dt
		<where>
             file_seq=#{fileSeq}
         </where>	
	</update>

	<!-- 공통첨부파일 삭제 -->
    <update id="deleteAttachFile">
        UPDATE tb_attach_file
           SET use_at = 'N'
         <where>
             file_seq=#{fileSeq}
         </where>
    </update>

</mapper>
