<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.voc.vocapi.system.mapper.UserMapper">

    <!-- 사용자정보 목록 조회 -->
    <select id="getUserList" resultType="kr.co.voc.vocapi.system.dto.UserDto$Info">
        SELECT user_seq             AS "userSeq",
               hotel_cd             AS "hotelCd",
               user_id              AS "userId",
               emp_type_cd          AS "empTypeCd",
               emp_no               AS "empNo",
               user_nm              AS "userNm",
               user_nm_en           AS "userNmEn",
               company_cd           AS "companyCd",
               company_nm           AS "companyNm",
               dept_cd              AS "deptCd",
               dept_nm              AS "deptNm",
               real_dept_cd         AS "realDeptCd",
               real_dept_nm         AS "realDeptNm",
               duty_cd              AS "dutyCd",
               duty_nm              AS "dutyNm",
               position_cd          AS "positionCd",
               position_nm          AS "positionNm",
               title_cd             AS "titleCd",
               title_nm             AS "titleNm",
               retire_yn            AS "retireYn",
               join_dt              AS "joinDt",
               retire_dt            AS "retireDt",
               tel_no               AS "telNo",
               cell_no              AS "cellNo",
               email_addr           AS "emailAddr",
               pw                   AS "pw",
               pw_chg_dt            AS "pwChgDt",
               account_lock_yn      AS "accountLockYn",
               etc1                 AS "etc1",
               etc2                 AS "etc2",
               etc3                 AS "etc3",
               use_yn               AS "useYn",
               reg_user_no          AS "regUserNo",
               reg_dt               AS "regDt",
               mod_user_no          AS "modUserNo",
               mod_dt               AS "modDt"
          FROM tb_sys_user
         WHERE use_yn = 'Y'
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.hotelCd)">AND hotel_cd = #{p.hotelCd} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.userId)">AND user_id = #{p.userId} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.empNo)">AND emp_no = #{p.empNo} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.userNm)">AND user_nm = #{p.userNm} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(p.userNmEn)">AND user_nm_en = #{p.userNmEn} </if>
         ORDER BY user_seq DESC
         <if test="offset &gt; -1">
         LIMIT #{offset}, #{length}
         </if>
    </select>
    <select id="getUserListCount" resultType="long">
        SELECT COUNT(1)
          FROM tb_sys_user
         WHERE use_yn = 'Y'
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(hotelCd)">AND hotel_cd = #{hotelCd} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(userId)">AND user_id = #{userId} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(empNo)">AND emp_no = #{empNo} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(userNm)">AND user_nm = #{userNm} </if>
            <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(userNmEn)">AND user_nm_en = #{userNmEn} </if>
    </select>

	<!-- 사용자정보 상세 조회 -->
    <select id="getUser" resultType="kr.co.voc.vocapi.system.dto.UserDto$Info">
        SELECT user_seq             AS "userSeq",
               hotel_cd             AS "hotelCd",
               user_id              AS "userId",
               emp_type_cd          AS "empTypeCd",
               emp_no               AS "empNo",
               user_nm              AS "userNm",
               user_nm_en           AS "userNmEn",
               company_cd           AS "companyCd",
               company_nm           AS "companyNm",
               dept_cd              AS "deptCd",
               dept_nm              AS "deptNm",
               real_dept_cd         AS "realDeptCd",
               real_dept_nm         AS "realDeptNm",
               duty_cd              AS "dutyCd",
               duty_nm              AS "dutyNm",
               position_cd          AS "positionCd",
               position_nm          AS "positionNm",
               title_cd             AS "titleCd",
               title_nm             AS "titleNm",
               retire_yn            AS "retireYn",
               join_dt              AS "joinDt",
               retire_dt            AS "retireDt",
               tel_no               AS "telNo",
               cell_no              AS "cellNo",
               email_addr           AS "emailAddr",
               pw                   AS "pw",
               pw_chg_dt            AS "pwChgDt",
               account_lock_yn      AS "accountLockYn",
               etc1                 AS "etc1",
               etc2                 AS "etc2",
               etc3                 AS "etc3",
               use_yn               AS "useYn",
               reg_user_no          AS "regUserNo",
               reg_dt               AS "regDt",
               mod_user_no          AS "modUserNo",
               mod_dt               AS "modDt"
          FROM tb_sys_user A
         WHERE user_seq=#{userSeq}
    </select>

	<!-- 사용자정보 등록 -->
    <insert id="insertUser">
        INSERT INTO tb_sys_user
		(
            user_seq,
            hotel_cd,
            user_id,
            emp_type_cd,
            emp_no,
            user_nm,
            user_nm_en,
            company_cd,
            company_nm,
            dept_cd,
            dept_nm,
            real_dept_cd,
            real_dept_nm,
            duty_cd,
            duty_nm,
            position_cd,
            position_nm,
            title_cd,
            title_nm,
            retire_yn,
            join_dt,
            retire_dt,
            tel_no,
            cell_no,
            email_addr,
            pw,
            pw_chg_dt,
            account_lock_yn,
            etc1,
            etc2,
            etc3,
            use_yn,
            reg_user_no,
            mod_user_no
		)
		VALUES
		(
			#{userSeq},
            #{hotelCd},
            #{userId},
            #{empTypeCd},
            #{empNo},
            #{userNm},
            #{userNmEn},
            #{companyCd},
            #{companyNm},
            #{deptCd},
            #{deptNm},
            #{realDeptCd},
            #{realDeptNm},
            #{dutyCd},
            #{dutyNm},
            #{positionCd},
            #{positionNm},
            #{titleCd},
            #{titleNm},
            #{retireYn},
            #{joinDt},
            #{retireDt},
            #{telNo},
            #{cellNo},
            #{emailAddr},
            #{pw},
            #{pwChgDt},
            #{accountLockYn},
            #{etc1},
            #{etc2},
            #{etc3},
            #{useYn},
            #{regUserNo},
            #{modUserNo}
		)
		<selectKey resultType="int" keyProperty="returnKey" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

	<!-- 사용자정보 수정 -->
    <update id="updateUser">
		UPDATE tb_sys_user SET
			hotel_cd             = #{hotelCd},
            user_id              = #{userId},
            emp_type_cd          = #{empTypeCd},
            emp_no               = #{empNo},
            user_nm              = #{userNm},
            user_nm_en           = #{userNmEn},
            company_cd           = #{companyCd},
            company_nm           = #{companyNm},
            dept_cd              = #{deptCd},
            dept_nm              = #{deptNm},
            real_dept_cd         = #{realDeptCd},
            real_dept_nm         = #{realDeptNm},
            duty_cd              = #{dutyCd},
            duty_nm              = #{dutyNm},
            position_cd          = #{positionCd},
            position_nm          = #{positionNm},
            title_cd             = #{titleCd},
            title_nm             = #{titleNm},
            retire_yn            = #{retireYn},
            join_dt              = #{joinDt},
            retire_dt            = #{retireDt},
            tel_no               = #{telNo},
            cell_no              = #{cellNo},
            email_addr           = #{emailAddr},
            pw                   = #{pw},
            pw_chg_dt            = #{pwChgDt},
            account_lock_yn      = #{accountLockYn},
            etc1                 = #{etc1},
            etc2                 = #{etc2},
            etc3                 = #{etc3},
            use_yn               = #{useYn},
            mod_user_no          = #{modUserNo}
        WHERE user_seq=#{userSeq}
	</update>

	<!-- 사용자정보 삭제 -->
    <update id="deleteUser">
        UPDATE tb_sys_user
           SET use_yn = 'N'
         WHERE user_seq=#{userSeq}
    </update>
</mapper>
