<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kmac.system.mapper.VoctypeMapper">

    <!-- VOC유형정보 목록 조회 -->
    <select id="getVoctypeList" resultType="kr.co.kmac.system.dto.VoctypeDto$Info">
        SELECT TT1.voctype_mst_seq  AS "voctypeMstSeq",
               TT1.voctype_cd       AS "voctypeCd1",
               TT1.voctype_nm       AS "voctypeNm1",
               TT2.voctype_cd2      AS "voctypeCd2",
               TT2.voctype_nm2      AS "voctypeNm2",
               TT2.voctype_cd3      AS "voctypeCd3",
               TT2.voctype_nm3      AS "voctypeNm3",
               TT1.reg_user_no      AS "regUserNo",
               fn_getUserNm(TT1.reg_user_no) AS "regUserNm",
               date_format(TT1.reg_dt, '%Y-%m-%d %H:%i:%s') AS "regDt",
               IFNULL(TT2.mod_user_no3, IFNULL(TT2.mod_user_no2, TT1.mod_user_no)) AS "modUserNo",
               fn_getUserNm(IFNULL(TT2.mod_user_no3, IFNULL(TT2.mod_user_no2, TT1.mod_user_no))) AS "modUserNm",
               date_format(TT1.mod_dt, '%Y-%m-%d %H:%i:%s') AS "modDt"
        FROM tb_sys_voctype TT1
                 LEFT OUTER JOIN (SELECT T2.voctype_mst_seq,
                                         T2.upper_voctype_cd,
                                         T2.voctype_cd       AS voctype_cd2,
                                         T2.voctype_nm       AS voctype_nm2,
                                         T3.voctype_cd       AS voctype_cd3,
                                         T3.voctype_nm       AS voctype_nm3,
                                         T2.mod_user_no		 AS mod_user_no2,
                                         T2.mod_dt			 AS mod_dt2,
                                         T3.mod_user_no		 AS mod_user_no3,
                                         T3.mod_dt			 AS mod_dt3
                                  FROM tb_sys_voctype T2 LEFT OUTER JOIN tb_sys_voctype T3 ON T2.voctype_mst_seq = T3.voctype_mst_seq AND T2.voctype_cd = T3.upper_voctype_cd
                                  WHERE  T2.voctype_level='2'
        ) TT2 ON TT1.voctype_mst_seq = TT2.voctype_mst_seq AND TT1.voctype_cd = TT2.upper_voctype_cd
        WHERE TT1.voctype_level='1'
          AND TT1.voctype_mst_seq = #{voctypeMstSeq}
        ORDER BY TT1.voctype_cd, TT2.voctype_cd2, TT2.voctype_cd3
        <if test="offset &gt; -1">
            LIMIT #{offset}, #{length}
        </if>
    </select>
    <select id="getVoctypeListCount" resultType="long">
        SELECT COUNT(1)
        FROM tb_sys_voctype TT1
                 LEFT OUTER JOIN (SELECT T2.voctype_mst_seq,
                                         T2.upper_voctype_cd,
                                         T2.voctype_cd       AS voctype_cd2,
                                         T2.voctype_nm       AS voctype_nm2,
                                         T3.voctype_cd       AS voctype_cd3,
                                         T3.voctype_nm       AS voctype_nm3,
                                         T2.mod_user_no		 AS mod_user_no2,
                                         T2.mod_dt			 AS mod_dt2,
                                         T3.mod_user_no		 AS mod_user_no3,
                                         T3.mod_dt			 AS mod_dt3
                                  FROM tb_sys_voctype T2 LEFT OUTER JOIN tb_sys_voctype T3 ON T2.voctype_mst_seq = T3.voctype_mst_seq AND T2.voctype_cd = T3.upper_voctype_cd
                                  WHERE  T2.voctype_level='2'
        ) TT2 ON TT1.voctype_mst_seq = TT2.voctype_mst_seq AND TT1.voctype_cd = TT2.upper_voctype_cd
        WHERE TT1.voctype_level='1'
          AND TT1.voctype_mst_seq = #{voctypeMstSeq}
        ORDER BY TT1.voctype_cd, TT2.voctype_cd2, TT2.voctype_cd3
    </select>

    <!-- VOC유형정보 목록 dropbox용 조회 -->
    <select id="getVoctypeCodeList" resultType="kr.co.kmac.system.dto.VoctypeDto$Info">
        SELECT  A.voctype_seq      AS "voctypeSeq",
                A.voctype_mst_seq  AS "voctypeMstSeq",
                A.voctype_cd       AS "voctypeCd",
                A.voctype_nm       AS "voctypeNm",
                A.voctype_level    AS "voctypeLevel",
                A.upper_voctype_cd AS "upperVoctypeCd",
                A.disp_order       AS "dispOrder",
                A.use_yn           AS "useYn"
        FROM tb_sys_voctype A
        WHERE A.voctype_mst_seq = #{voctypeMstSeq}
          AND A.voctype_level = #{voctypeLevel}
        <if test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(upperVoctypeCd)">AND A.upper_voctype_cd = #{upperVoctypeCd} </if>
        ORDER BY A.disp_order
    </select>

	<!-- VOC유형정보 상세 조회 -->
    <select id="getVoctype" resultType="kr.co.kmac.system.dto.VoctypeDto$Info">
        SELECT voctype_seq         AS "voctypeSeq",
               voctype_mst_seq     AS "voctypeMstSeq",
               voctype_cd          AS "voctypeCd",
               voctype_nm          AS "voctypeNm",
               voctype_level       AS "voctypeLevel",
               upper_voctype_cd    AS "upperVoctypeCd",
               disp_order          AS "dispOrder",
               use_yn              AS "useYn",
               reg_user_no         AS "regUserNo",
               fn_getUserNm(reg_user_no) AS "regUserNm",
               date_format(reg_dt, '%Y-%m-%d %H:%i:%s') AS "regDt",
               mod_user_no          AS "modUserNo",
               fn_getUserNm(mod_user_no) AS "modUserNm",
               date_format(mod_dt, '%Y-%m-%d %H:%i:%s') AS "modDt"
          FROM tb_sys_voctype A
         WHERE voctype_seq=#{voctypeSeq}
    </select>

	<!-- VOC유형정보 등록 -->
    <insert id="insertVoctype">
        INSERT INTO tb_sys_voctype
        (
            voctype_mst_seq,
            voctype_cd,
            voctype_nm,
            voctype_level,
            upper_voctype_cd,
            disp_order,
            use_yn,
            reg_user_no,
            mod_user_no
        )
        VALUES
        (
            #{voctypeMstSeq},
            #{voctypeCd},
            #{voctypeNm},
            #{voctypeLevel},
            #{upperVoctypeCd},
            #{dispOrder},
            'Y',
            #{regUserNo},
            #{modUserNo}
        )
        <selectKey resultType="int" keyProperty="returnKey" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

	<!-- VOC유형정보 수정 -->
    <update id="updateVoctype">
        UPDATE tb_sys_voctype SET
               voctype_cd       = #{voctypeCd},
               voctype_nm       = #{voctypeNm},
               voctype_level    = #{voctypeLevel},
               upper_voctype_cd = #{upperVoctypeCd},
               disp_order       = #{dispOrder},
               use_yn           = #{useYn},
               mod_user_no      = #{modUserNo}
        WHERE voctype_seq=#{voctypeSeq}
	</update>

	<!-- VOC유형정보 삭제 -->
    <update id="deleteVoctype">
        DELETE FROM tb_sys_voctype
         WHERE voctype_seq=#{voctypeSeq} OR upper_voctype_cd=#{voctypeSeq}
    </update>
</mapper>
